<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Marker Detection</title>
    <!-- Import the component -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
</head>
<body>
    <h1>Live Marker Detection</h1>
    <div id="marker-info">No markers detected.</div>

    <model-viewer
        orientation="0 0 0"
        camera-orbit="10deg 55deg 4m"
        shadow-intensity="1"
        id="viewer"
        src='{{ url_for("static", filename="models/yourmodel.gltf") }}'>
    </model-viewer>

    <script>
        let targetYaw = 0;
        let currentYaw = 0;
        const step = 0.1; // Step size in degrees

        document.addEventListener('DOMContentLoaded', (event) => {
            const modelViewerTransform = document.querySelector("model-viewer#viewer");

            if (!modelViewerTransform) {
                console.log("Modelviewer not found");
                return;
            }

            console.log("Modelviewer found");

            const eventSource = new EventSource('/stream');
            eventSource.onmessage = function(event) {
                console.log('New markers detected:', event.data);
                if (event.data && event.data !== "[]") {
                    document.getElementById('marker-info').textContent = 'Detected markers: ' + event.data;
                    targetYaw = parseFloat(event.data.replace("[","").replace("]","")); // Update target yaw
                }
            };

            setInterval(() => {
                const difference = targetYaw - currentYaw;
                if (Math.abs(difference) > 0.01) {
                    currentYaw += step * Math.sign(difference);
                    modelViewerTransform.orientation = `0deg 0deg ${currentYaw}deg`;
                      modelViewerTransform.updateFraming();
                }
            }, 20); // Update every 20 milliseconds
        });
    </script>
</body>
</html>